.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

/* Zarları ve butonu düzenlemek için kapsayıcı */
.dice-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px; /* Zarlar ile buton arasındaki boşluk */
}

.dice {
  text-align: center;
  display: inline-block;
  margin: 0 20px; /* Zarlar arasındaki boşluk */
}

/* Butonun temel stili */
button {
  background-color: #4ecca3;
  color: white;
  border: none;
  padding: 15px 30px; /* İç boşluklar (üst-alt, sağ-sol) */
  text-align: center; /* Metni ortala */
  text-decoration: none; /* Alt çizgi olmadan */
  display: inline-block; /* İçerik hizalaması */
  font-size: 1.5rem; /* Yazı boyutu */
  font-family: "Lobster", cursive; /* Yazı fontu */
  border-radius: 10px; /* Köşe yuvarlaklığı */
  cursor: pointer; /* Fare işareti pointer olur */
  transition: background-color 0.3s, transform 0.2s; /* Geçiş animasyonları */
  margin-top: 20px; /* Butonun üst boşluğu */
}

/* Buton üzerine gelindiğinde stil */
button:hover {
  background-color: #3e9b7c; /* Hover rengi */
  transform: scale(1.05); /* Butonu büyütme efekti */
}

/* Butona tıklandığında stil */
button:active {
  background-color: #2f7b62; /* Tıklama rengi */
  transform: scale(0.98); /* Tıklama efekti */
}

/* Arka plan ve metin stilleri */
body {
  background-color: #393e46;
}

h1 {
  margin: 30px;
  font-family: "Lobster", cursive;
  text-shadow: 5px 0 #232931;
  font-size: 6rem;
  color: #4ecca3;
}

p {
  font-size: 2rem;
  color: #4ecca3;
  font-family: "Indie Flower", cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #eeeeee;
  text-align: center;
  font-family: "Indie Flower", cursive;
}
